<form [formGroup]="registerUser" (ngSubmit)="register()" autocomplete="off">
  <div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input
          type="text"
          name="firstName"
          id="firstName"
          pInputText
          formControlName="firstName"
        />
        <label for="firstName">First Name</label>
      </span>
      <span
        class="error-text"
        *ngIf="
          !registerUser.controls['firstName'].valid &&
          registerUser.controls['firstName'].dirty
        "
        >*First Name is required
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input
          type="text"
          name="lastName"
          id="lastName"
          pInputText
          formControlName="lastName"
        />
        <label for="lastName">Last Name</label>
      </span>
      <span
        class="error-text"
        *ngIf="
          !registerUser.controls['lastName'].valid &&
          registerUser.controls['lastName'].dirty
        "
      >
        *Last Name is required
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input
          type="text"
          name="email"
          id="email"
          pInputText
          formControlName="email"
        />
        <label for="email">Email</label>
      </span>
      <span
        class="error-text"
        *ngIf="
          !registerUser.controls['email'].valid &&
          registerUser.controls['email'].dirty
        "
      >
        *Email is required
      </span>
      <span class="error-text" *ngIf="!isEmailValid">
        *Enter a valid email
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input
          type="text"
          name="avatar"
          id="avatar"
          pInputText
          formControlName="imageUrl"
          pTooltip="Name your avatar"
          tooltipPosition="top"
          tooltipEvent="focus"
        />
        <label for="avatar">Avatar</label>
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-password
          name="password"
          inputId="password"
          formControlName="password"
          [toggleMask]="true"
        ></p-password>
        <label for="password">Password</label>
      </span>
      <span
        class="error-text"
        *ngIf="
          !registerUser.controls['password'].valid &&
          registerUser.controls['password'].dirty
        "
      >
        *Password of minimum 4 characters is required
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-password
          name="password"
          inputId="confirmPassword"
          formControlName="confirmPassword"
          [toggleMask]="true"
        >
        </p-password>
        <label for="confirmPassword">Confirm Password</label>
      </span>
      <span class="error-text" *ngIf="!passMatch">
        *Passwords don't match
      </span>
    </div>

    <button
      pButton
      pRipple
      type="button"
      type="submit"
      label="Register"
      [disabled]="registerUser.invalid"
    ></button>
  </div>
</form>
