:host ::ng-deep {
  .p-float-label {
    margin-top: 15px;
  }
}

button {
  margin: 30px 8px;
}

.error-text {
  display: block;
  color: var(--pink-500);
  font-size: 0.7rem;
}

form {
  max-width: 50% !important;
  margin: 0 auto;

  @media (max-width: 850px) {
    max-width: 80% !important;
  }
}
