<section>
  <p-tabView>
    <p-tabPanel header="Active trades" leftIcon="pi pi-chart-bar">
      <app-active-trades></app-active-trades>
    </p-tabPanel>
    <p-tabPanel header="Trade items" leftIcon="pi pi-share-alt">
      <app-trade-items></app-trade-items>
    </p-tabPanel>
    <p-tabPanel header="Vcoins" leftIcon="pi pi-money-bill">
      <app-vcoins></app-vcoins>
    </p-tabPanel>
    <p-tabPanel header="Edit profile" leftIcon="pi pi-user-edit">
      <app-edit-profile></app-edit-profile>
    </p-tabPanel>
  </p-tabView>
</section>
