<!-- cards -->
<section class="p-d-flex p-jc-center card-section">
  <p-card class="card">
    <img class="round" src="../../../assets/images/exchange.jpg" alt="" />
    <h3>Exchange food locally</h3>
  </p-card>
  <p-card class="card">
    <img class="round" src="../../../assets/images/connect.jpg" alt="" />
    <h3>Connect with like-minded people</h3>
  </p-card>
  <p-card class="card">
    <img class="round" src="../../../assets/images/help.jpg" alt="" />
    <h3>Help each other</h3>
  </p-card>
</section>

<!-- video -->
<section class="video-section">
  <video preload="auto" muted loop autoplay>
    <source src="../../../assets/videos/homepagevideo.mp4">
    Your browser does not support the video tag.
  </video>
</section>

<!-- why? -->
<section class="p-d-flex p-jc-center why-section">
  <p-card class="card">
    <h4>Together we stand strong</h4>
  </p-card>
  <p-card class="card">
    <h4>Connecting with locals</h4>
  </p-card>
  <p-card class="card">
    <h4>Taking our power back & taking care of our planet</h4>
  </p-card>
  <p-card class="card">
    <h4>Non-GMO food for everyone!</h4>
  </p-card>
</section>