<section class="p-d-flex p-jc-center card-section">
  <p-card class="card">
    <img class="round" src="../../../assets/images/exchange.jpg" alt="" />
    <h3>Exchange food locally</h3>
  </p-card>
  <p-card class="card">
    <img class="round" src="../../../assets/images/connect.jpg" alt="" />
    <h3>Connect with like-minded people</h3>
  </p-card>
  <p-card class="card">
    <img class="round" src="../../../assets/images/help.jpg" alt="" />
    <h3>Help other people</h3>
  </p-card>
</section>

<section class="garden-section">
  <!-- <img src="../../../assets/images/garden.jpg" alt="garden" /> -->
</section>


<!-- TODO -->
<section class="why-section">
  - Together we stand strong
  - Connecting with locals
  - Taking our power back & taking care of our planet
  - Non-GMO food for everyone!
</section>