<div class="p-grid grid-height">
    <div class="p-col-3">
        <app-user-trade-items></app-user-trade-items>
        User 1
    </div>
    <div class="p-col-6">
        <div class="p-grid p-ai-stretch vertical-container ">
            <div class="p-col-4 box box-stretched">
                User1 mid top
            </div>
            <div class="p-col-4 box box-stretched">
                Cancel - Propose
            </div>
            <div class="p-col-4 box box-stretched">
                User2 mid top
            </div>
        </div>
        <div class="p-grid p-ai-stretch vertical-container">
            <div class="p-col-6 box box-stretched">
                <p>User1 items</p>
            </div>
            <div class="p-col-6 box box-stretched">
                <p>User2 items</p>
            </div>
        </div>
    </div>
    <div class="p-col-3">
        <app-user-trade-items></app-user-trade-items>
        User 2
    </div>
</div>