
<div class="p-grid nested-grid" style="background-color: rgb(48, 184, 184); height: 87vh;">
    <div class="p-col-3" style="background-color: red; min-width:200px">
        User 1 tradeitems
      

    </div>
    <div class="p-col-6  " style="background-color: green; min-width:300px;" >
        
          
<div class="p-grid"   style="height: 23%;" >
    <div class="p-col-4" style="background-color: lightblue; min-width:100px">
        User1
       
        
    </div>
    <div class="p-col-4"  style="background-color: lightcoral; min-width:100px">
        Cancel - Propose
    </div>
    <div class="p-col-4"  style="background-color: lightgreen; min-width:100px">
        User2
    </div>

</div>


<div class="p-grid" style="height: 80%;" >
    <div class="p-col-6" style="background-color: lightskyblue; ">
        
        Proposals
    </div>
    <div class="p-col-6" style="background-color: lightpink; ;">
       
        Proposals
    </div>
</div>
        
       
    
    </div>
    <div class="p-col-3">
        User 2 tradeitems
    </div>
</div>


