// Fonts
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

// Fonts all in one
//@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&family=Nothing+You+Could+Do&display=swap');
// font-family: 'Nothing You Could Do', cursive;

// primary: #00e5ff
// primary-light: #6effff
// primary-dark: #00b2cc

// secondary: #445963
// secondary-light: #708690
// secondary-dark: #1b3039

html,
body {
  height: 100%;
  padding: 2rem;
}
body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
