// Fonts
// @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Maven+Pro:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: var(--surface-b);
  color: var(--text-color);
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--surface-a);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--surface-d);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--surface-b);
}
