// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

// Fonts all in one
//@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&family=Nothing+You+Could+Do&display=swap');
// font-family: 'Nothing You Could Do', cursive;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$VeggieSwapClient-primary: mat-palette($mat-indigo);
$VeggieSwapClient-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$VeggieSwapClient-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$VeggieSwapClient-theme: mat-light-theme(
  (
    color: (
      primary: $VeggieSwapClient-primary,
      accent: $VeggieSwapClient-accent,
      warn: $VeggieSwapClient-warn,
    ),
  )
);

// primary: #00e5ff
// primary-light: #6effff
// primary-dark: #00b2cc

// secondary: #445963
// secondary-light: #708690
// secondary-dark: #1b3039

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($VeggieSwapClient-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
