<nav>
  <a routerLink="/home">
    <img src="{{ VeggiesImgPath }}/coriander.svg" alt="logo" />
    <span>VEGGIE SWAP</span>
  </a>
  <ul>
    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/swap-now">Swap now!</a></li>
    <li *ngIf="!userId" routerLinkActive="active">
      <a routerLink="/sign-in">Sign in</a>
    </li>
  </ul>
  <ul>
    <li *ngIf="userId" routerLinkActive="active">
      <a routerLink="/settings">
        <p-avatar
          image="https://robohash.org/{{ loggedInUser?.imageUrl }}"
          styleClass="p-mr-2 p-shadow-3"
          size="large"
          shape="circle"
        ></p-avatar>
      </a>
    </li>
    <li *ngIf="userId">
      <button
        (click)="logout()"
        pButton
        pRipple
        type="button"
        icon="pi pi-sign-out"
        class="p-button-rounded p-button-secondary p-button-outlined"
      ></button>
    </li>
  </ul>
</nav>
